*{
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}
/* ESTILANDO BARRA DE NAVEGACIÓN */
nav{
    display: flex;
    position: fixed;
    width: 100vw;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    opacity: 72%;
    backdrop-filter: blur(10px);
    padding: 0.2rem 0;
    background-color: beige;
    transition: all 0.3s ease;
    z-index: 100;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 8rem;
    font-size: 20px; 
}

nav h1{
    padding-left: 2rem;
}

nav ul li{
    cursor: pointer; 
    transition: all 0.3s ease;
}
nav ul li:hover{
    font-size: larger; 
}
nav ul li a{
    text-decoration: none;
    color: black;
}

nav .menu-right a{
    cursor: pointer;
}
nav .menu-right a:last-child{
    padding-right: 2rem;
}

nav:hover{
    opacity: 100%;
}

nav .menu-right{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.precio{
    font-size: 20px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.boton-inicio-sesion{
    display: block;
    margin-right: 32px;
    border: none;
    background-color: rgb(185, 133, 98);
    color: white;
    padding: 10px 15px !important;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

/* FIN DEL ESTILO DEL NAV */
/* ESTILOS GENERALLES DEL MAIN */
main {
    display: flex;
    flex-direction: column;
}
main section {
    background-image: url(../imagenes/Nuestros_vinos.jpg);
    background-repeat: no-repeat;
    /*background: linear-gradient(blue, pink);*/
    background-size: cover;
    height: 100vh;
}
/* ESTILO DE LA PRIMERA SECCIÓN */
main section:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main section .info-vinos{
    width: auto;
    height: 400px;
    display: grid; 
    grid-template-columns: 50px 1fr 50px;
    gap: 0 1.2rem; 
    align-items: center;
    justify-content: space-between;
    background-color: rgb(90, 45, 27, 0.7);
}
main section .info-vinos div{
    display: flex;
    justify-content: center;
}
main section .info-vinos button{
    width: 4rem;
    height: 4rem;
    background: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
main section .info-vinos button span{
    color: white;
}
main section .info-vinos div img{
    aspect-ratio: 3/2;
    height: 400px;
}

/* ESTILOS DE LA TIENDA */
.contenedor {
    display: grid; 
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-items: center;
    padding: 20px;
    overflow: auto;
}

.contenedor  .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 250px;
    height: 390px;
    border: 1px solid #666;
    border-radius: 30px;
    padding: 15px;
    background-color:white ;
    cursor: pointer;
}

.contenedor .item:first-child{
    position: relative;
    top: 100px;
}

.contenedor  .item .img-item{
    position: relative;
    aspect-ratio: 1/2;
    width: 120px;
}

.contenedor  .item:hover{
    box-shadow: 0 0 10px #fffcfc;
    scale: 1.05;
}

.contenedor  .item .titulo-item{
    width: 250px;
    height: 35px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; 
    background-color: white;
    align-content: center;
    font-size: 15px;
}

.contenedor  .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.contenedor  .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: rgb(185, 133, 98);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/* FIN DEL ESTILO DE LA TIENDA */

/* Estilo del formuliario */
main #formulario{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
main section form{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(90, 45, 27, 0.7);
    width: 500px;
    /*backdrop-filter: blur(2px);*/ /*Para transparentar el fondo*/
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: white; 
    padding: 2rem;
    gap: 0.8rem; 
} 
main section form > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
            "label label"
            "select select"
        ;
    gap: 0.5rem;    
}
input[type="text"],
     [type="email"]{
    padding: 0.4rem;
    border: none;
}

form select{
    width: 70%;
    padding: 0.4rem;
}
form textarea{
    width: 70%;
    min-height: 60px;
    padding: 0.4rem;
}
input[type="submit"]{
    width: 100px;
    position: relative;
    border:none;
    background-color: rgb(185, 133, 98);
    left: 200px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
/*FIN DE LA SECCIÓN DEL FORM */

/* ESTILO DEL FOOTER */
.footer-marco {
    background-color:  rgb(241, 177, 134);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50vh;  
}

.footer-texto-titulo {
    background-color:  beige;
    opacity: 65%;
    align-content: center;
    font-family: "Roboto";
    font-weight: bold;
}

.footer-cuadro-contacto {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    gap: 0.8rem; 
    background-color: rgb(241, 177, 134);
}

.footer-cuadro-medios {
    background-color: rgb(241, 177, 134);
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

.fa-brands {
    font-size: 50px;
}

.fa-square-facebook {
    color: blue;
}

.fa-square-facebook:hover{
    color: white;
}

.fa-square-instagram {
    color: magenta;
}

.fa-square-instagram:hover{
    color: white;
}

.fa-youtube {
    color: red;
}

.fa-youtube:hover{
    color: white;
}

.fa-cc-paypal {
    color: darkblue;
}

.fa-cc-mastercard {
    color:black;
}

.fa-cc-visa {
    color: blue;
}

/* FIN DEL ESTILO DEL FOOTER */


/* CARRITO */

.carrito {
    width: 35%;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    right: 20px;
    top: 85px;
    overflow: auto;
    position: absolute;
    z-index: 1000;
    transition: .3s;
}

.carrito .header-carrito{
    background-color: rgb(185, 133, 98);
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

.carrito .carrito-item{
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
    background-color: #fff;
}

.carrito .carrito-item img{
    margin-right: 20px;
}

.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}

.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}

.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.carrito .carrito-item .selector-cantidad i:active{
    background-color: rgb(185, 133, 98);
}

.carrito .carrito-item .carrito-item-precio {
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}

.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 75px; /*15px*/
    color: #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}

.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}


.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}

.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background-color: rgb(185, 133, 98);
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}

.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/*INICIO SESION*/
.section-login{
    position: relative;
    height: 100vh;
    background-image: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-login::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../imagenes/Nuestros_vinos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5; 
    z-index: -1; 
}

.div-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 800px;
    overflow: hidden;
    margin-top: 5rem;
}

.div-img-form{
    position: relative;
}

.div-img-form::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, transparent calc(50% - 1px), #fff calc(50% + 1px)); /* Gradiente diagonal */
    transform-origin: bottom left;
    transform: skewY(25deg);
    z-index: 1;
}

.div-form p{
    margin-bottom: 1.5rem;
}

.div-form p a{
    color: rgb(185, 133, 98);
}

.img-div-form{
    display: block;
    width: 100%;
    height: auto;
    z-index: 2;
}

.div-icon-vino{
    position: absolute;
    bottom: 0.2rem;
    left: 11rem;
    background-color: rgb(185, 133, 98);
    padding: 1rem;
    border-radius: 100%;
    z-index: 3;
}

.form-login{
    background-color: white;
    z-index: 3;
    width: 85%;
    height: 100%;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-login label{
    color: black;
}

.form-login input{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.473);
    width: calc(100% - 14px);
    border: none;
    height: 2rem;
    padding: 7px;
}

/*FIN INICIO SESION*/

/*REGISTRO*/

.titulo-registro{
    z-index: 3;
    margin-top: 2rem;
}

/*FIN REGISTRO*/


/*
@media screen and (max-width:850px) {
    .pre-contenedor{
        display: block;
    }
    .contenedor{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
        margin-left: 10px;
    }
}
*/

    /* Medias Queries */
    @media screen and (max-width: 1200px) {
        nav{
            display: flex;
            position: fixed;
            width: 100vw;
            height: 80px;
            align-content: center;
            justify-content: space-between;

        }
        nav ul{
            list-style: none;
            gap: 2rem;
            font-size: 20px;
        }

        .contenedor{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            height: 90vh;
            justify-content: center;
            padding: 5px 5px 20px 5px;
            overflow: scroll;
        }

        .contenedor  .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 250px;
            height: 390px;
            border: 1px solid #666;
            border-radius: 30px;
            padding: 10px;
            background-color:white ;
            cursor: pointer;
        }
    }
    @media screen and (max-width: 900px ){
        nav{
            display: flex;
            position: fixed;
            width: 100vw;
            height: 80px;
            align-content: center;
            justify-content: space-between;
        }
        nav ul{
            list-style: none;
            gap: 2rem;
            font-size: 16px;
        }

        .contenedor{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5px;
            height: 90vh;
            justify-content: center;
            padding: 5px;
            overflow: scroll;
        }

        .contenedor  .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 250px;
            height: 390px;
            border: 1px solid #666;
            border-radius: 30px;
            padding: 10px;
            background-color:white ;
            cursor: pointer;
        }

        main section form{
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            width: 25rem;
            height: 40rem;
            gap: 0.8rem 0;
        }

        main section form > div{
            display: flex;
            flex-direction: column;   
        }

        input[type="text"],
            [type="email"]{
            padding: 0.4rem;
            width: 350px;
            border: none;
        }     
    }

    @media screen and (max-width: 428px ){
        nav{
            display: flex;
            position: fixed;
            width: 100%;
            height: 80px;
            align-content: center;
            justify-content: space-between;
        }
        nav ul{
            display: none;
        }
        .carrito {
            width: 20rem;
        } 
        main section .info-vinos{
            width: auto;
            height: 600px;
            display: flex; 
            flex-direction: column;
            gap: 0 1.2rem; 
            justify-content: space-around;
            align-items: center;
            background-color: rgb(90, 45, 27, 0.7);
        }
        main section .info-vinos div{
            display: flex;
            justify-content: center;
        }
        .contenedor{
            display: grid;
            grid-template-columns: 1fr;
            gap: 5px;
            width: 100%;
            height: 90vh;
            justify-content: center;
            padding: 5px;
            overflow: scroll;
        }

        .contenedor  .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 250px;
            height: 390px;
            border: 1px solid #666;
            border-radius: 30px;
            padding: 10px;
            background-color:white ;
            cursor: pointer;
        }
        main section form{
            display: flex;
            font-size: 1.5rem;
            max-width: 300px;
            height: 400px;
            gap: 1rem;
        }

        main section form > div{
            display: flex;
            flex-direction: column;   
            gap: 1rem;
        }

        input[type="text"],
            [type="email"]{
            padding: 0.4rem;
            width: 250px;
            border: none;
        } 

        label {
            display: none; 
        }

        input[type="submit"]{
            width: 100px;
            position: relative;
            border:none;
            background-color: rgb(185, 133, 98);
            left: 100px;
            color: white;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
        }

        .footer-marco {
            background-color:  rgb(241, 177, 134);
            text-align: center;
            display: grid;
            grid-template-columns: 1fr;
            height: 70vh;  
        }
    }



    /* Para el contador de productos. */
    nav .menu-right .productos-carrito{
        position: absolute;
        bottom: 20px;
    }
    
    /* Para el scroll en el inicio de sesión */
    .div-form {
         height: auto;
         overflow: scroll;
    }  